todo.local {
    # Proxy hot reload websocket
    handle /live_reload {
        uri strip_prefix /live_reload
        reverse_proxy 127.0.0.1:3001
    }

    # Proxy everything else to the app
    handle {
        reverse_proxy 127.0.0.1:3000
    }
}
